
{% extends 'base.html.twig' %}

{% block body_id 'profile' %}

{% block main %}

    <h1>Contact us</h1>
    <div>

        <img src="{{ asset('images/contact-landing-top_box_listening.jpg') }}" alt="Symfony!" />
        <br>
       <h2>test@abv.bg</h2>
        <br>
        <h2>0890111111</h2>
    </div>


{% endblock %}


